@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  font-family: ARIAL;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #ccc;
  background-attachment: fixed;
}

header {
  background-image: linear-gradient(to right, rgb(0, 255, 157), blue);
  color: white;
  padding: 1em;
  text-align: center;
  font-family: 'lexend';
}

nav a {
  color: rgb(255, 255, 255);
  margin: 0 10px;
  text-decoration: none;
}

main {
  padding: 2em;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 50px;
  font-family: "lexend";
 
}
.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
}
.produtos li:hover{
    border-color: rgb(0, 255, 149);
}
.produtos li:active{
    border-color: rgb(0, 81, 255);
}
.produtos li:hover h2{
    font-size: 34px;
}
.produtos h2{
    font-size:30px;
    font-weight: bold;
}
.produto-descricao{
    font-size: 18px;
}
.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

section, form {
background-color: rgba(255, 255, 255, 0.877);
  padding: 1.5em;
  margin-bottom: 1em;
  border-radius: 50px;
  box-shadow: 0 0 5px #ccc;
  font-family: 'lexend';
}

lexend-uniquifier {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


footer {
  background-color: #0a1152;
  color: white;
  text-align: center;
  padding: 1em;
  bottom: 0;
  width: 100%;
}

.pergunta {
  margin-bottom: 1em;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

img {
  display: block; /* Converte a imagem para um elemento de bloco */
  margin: 0 auto; /* Centraliza a imagem */
  right: 400px;
  width: 800px;
  border-radius: 50px;
}

.imagem{
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  text-align: center;
}

.shoppe{
   background-color: rgba(255, 255, 255, 0);
}

.icones{
  display: block; /* Converte a imagem para um elemento de bloco */
  margin: 0 auto; /* Centraliza a imagem */
  width: 100px;
  right: 100px;
  border-radius: 50px;
}

h2{
  color: #0a1152;
}

h3{
  color:#1f5785
}

b{
  color: #099481;
}
